<turbo-frame id="newsletter">
  <div style="background-color: azure; padding: 1em; font-weight: bold; border-radius: 1em;">
    <p>
    Thanks for subscribing, <%= params[:name] %>
    </p>
    <p>
    We've sent a confirmation email at: <%= params[:email] %>.
    </p>
    <p>
    Please confirm.
    </p>
  </div>

  <p>
  <a href="/">Go Back</a>
  </p>
</turbo-frame>
